*, *::before, *::after{
    box-sizing: border-box;
    
}

body {

    background-image: url("yellow.jpeg");
    background-size: cover;
    font-family:  "Concert One", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 150px auto;
    color:darkred;
    
}
.container{
    background-color: peachpuff;
    border-radius: 10px;
    border: 4px solid white;
    width: 840px;
    margin: auto;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 70px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family:  "Concert One", sans-serif;
    
}

@media screen and (min-device-width: 481px) and (max-width:640px) {
    .container{
      margin-bottom: 400px;
      width: 420px;.
      
    }
    button{
        width: 300px;
    }
}

#increment-btn {
    background: darkblue;
    font-size: 40px;
}

#save-btn {
    background: orangered;
    font-size: 40px;
}
p{
    font-size: 40px; 
}
